
.my-swiper-container {
  position: relative;
  padding: 0 50px; 
}


.my-swiper-container .swiper-button-next,
.my-swiper-container .swiper-button-prev {
  
  color: #dfb030;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 3rem; 
  height: 3rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}
 .swiper-button-prev:hover {
  background-color: rgb(64, 50, 3); 
}
 .swiper-button-next:hover {
  background-color: rgb(64, 50, 3); 
}

.my-swiper-container .swiper-button-next::after,
.my-swiper-container .swiper-button-prev::after {
  font-size: 18px;
  font-weight: bold;
}


.my-swiper-container .swiper-button-next {
  right: 0px;
}


.my-swiper-container .swiper-button-prev {
  left: 0px;
}


.my-swiper-container .swiper-pagination-bullet {
  background: #cccccc; 
  opacity: 1;
    width: 12px;
}

.my-swiper-container .swiper-pagination-bullet-active {
  background: linear-gradient(to right, #facc15, #f59e42, #f97316);
}