@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}



body {
  
  background-color: #212226;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  color: #ede6bc;

  
}

button {
  background: linear-gradient(to right, #facc15, #f59e42, #f97316);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; 
  color: #212226;
  cursor: pointer;
}



.icons{
  background: linear-gradient(to right, #facc15, #f59e42, #f97316);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; 
  color: #212226;

}
.icons:hover {
  background: linear-gradient(to right, #f97316, #f59e42, #facc15);
  box-shadow: #f97316 0px 0px 8px;
  transform: scale(1.1);
  transition: all 0.3s ease;
  color: #3d3e43;
}
.link-dourado {
  position: relative;
  padding-bottom: 0.5rem;
}

.link-dourado::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(to right, #facc15, #f59e42, #f97316);
  transition: all 0.3s;
}

.link-dourado:hover::after {
  width: 90%;
}

a {
  text-decoration: none;
 
  padding: 0.2rem;
  margin: 0.2rem;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: #b45309;
  text-shadow: #e9c887 0px 0px 2px;
}
li{
  list-style: none;
}
